body {
  background-color: #20232a;
  color: #ffffff;
  font-family: Arial, sans-serif;
  font-size: 16px;
  text-align: center;
}


.profile-pic {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  overflow: hidden;
}

.profile-pic img {
  width: 10%;
  height: 10%;
  object-fit: cover;
}

#sidebar-btn {
  position: fixed;
  top: 20px;
  left: 20px;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#sidebar-btn:active {
  box-shadow: 0 0 10px #fff;
}

#sidebar {
  position: fixed;
  top: 60px;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: #333;
  color: #fff;
  transition: left 0.5s;
}

#sidebar.open {
  left: 0;
}

#sidebar a {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
#navbar {
  background-color: #20232a;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

#navbar a {
  color: #ffffff;
  text-decoration: none;
  padding: 10px 20px;
}

#navbar a:hover {
  background-color: #61dafb;
}

h1 {
  margin-top: 40px;
  font-size: 36px;
  font-weight: bold;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: left;
}

li {
  margin-bottom: 10px;
}

.language-stats {
  display: inline-block;
  margin-top: 40px;
}

.activity-graph {
  margin-top: 40px;
  width: 100%;
  height: 300px;
}

a {
  color: #61dafb;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
